

body {
    background-image: url("../images/blue-universe.jpg");
    background-size: cover;
}

header {
    height: 75px;

}

.heading {
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-size: 400%;
    font-family: Unbounded, 'san-serif';
    text-shadow: 1px 1px 2px black, 0 0 30px white, 0 0 20px white;
}

.quiz-area {
    background-image: url("../images/blue-abstract.jpg");
    height: 600px;
    width: 60%;
    border: solid 5px black;
    margin: auto;
    margin-top: 75px;
    border-radius: 10%;
    box-shadow: 0 0 20px 5px;
    
}

#game-play {
    height: 600px;
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px
}

.question-box {
    background-color: white;
    height: 100px;
    width: 600px;
    border: solid 2px black;
    display: flex;
    margin-top: 20px;
    border-radius: 15%;
    box-shadow: 0 0 10px 2px;
}

.button-box {
    height: 300px;
    width: 100%;
    margin: 15px;
    display: inline-grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-around;
    
}

.answers {
    height: 120px;
    width: 350px;
    margin: 10px;
    border: solid 2px black;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px;
}

.score {
    background-color: white;
    height: 50px;
    width: 200px;
    margin: 10px;
    border: solid 2px black;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px;
}

.hide {
    display: none
}


@media only screen and (max-width: 1300px) {

    .heading {
    font-size: 300%;
}

.quiz-area {
    border: solid 5px black;
    width: 70%;
}

.question-box {     
    width: 70%;
     
}

.answers {
    height: 120px;
    width: 300px;
    margin: 10px;
    border: solid 2px black;
    border-radius: 10px;
}

}

@media only screen and (max-width: 950px) {

        .heading {
    font-size: 160%;
}
    
.quiz-area {
    border: solid 5px black;
    margin-top: 10px;
    width: 80%;
}
    
.question-box {    
    width: 80%;   
}
    
.answers {
    height: 120px;
    width: 200px;
    margin: 10px;
    border: solid 2px black;
    border-radius: 10px;
}
    
}
  
@media only screen and (max-width: 650px) {

header {
    height: 40px
}

.heading {
    font-size: 160%;
}
        
.quiz-area {
    border: solid 5px black;
    margin-top: 10px;
    width: 90%;
    
}
        
.question-box {
             
    width: 140%;
             
}
        
.answers {
    height: 120px;
    width: 130px;
    margin: 0px;
    border: solid 2px black;
    border-radius: 10px;
}

.score {
    height: 30px;
    width: 110px;

}

.button-box {
    margin: 5px;
    gap: 10px;

}
        
            }